
	     </ul>
         <div id="border_navi_bottom">
           <img src="{staticurl|urlescape}img/design/borderbluedown_right.gif" alt="" id="border_navi_left_bottom">
           <img src="{staticurl|urlescape}img/design/borderbluedown_left2.gif" alt="" id="border_navi_right_bottom">
         </div>
         <img src="{staticurl|urlescape}img/design/borderbluemiddleleft.gif" alt="" id="border_navi_right_top">
	  </div>

    
      <div id="outer_content">
        <div id="content">
           <a name="top" href="#top"></a>           