{header}
<title>{repo|escape}: branches</title>
<link rel="alternate" type="application/atom+xml"
   href="{url|urlescape}atom-branches" title="Atom feed for {repo|escape}: branches" />
<link rel="alternate" type="application/rss+xml"
   href="{url|urlescape}rss-branches" title="RSS feed for {repo|escape}: branches" />
</head>
<body>
{bodyheader}
{menuchangeset}
{menuoverview}
{bodyheader2}

<h2 class="breadcrumb"><a href="/">Mercurial</a> {pathdef%breadcrumb}</h2>
<h3>Branches <a href="{url|urlescape}atom-branches" title="subscribe to atom feed">
    <img class="atom-logo" src="{staticurl|urlescape}feed-icon-14x14.png" alt="atom feed"></a></h3>

<form class="search" action="{url|urlescape}log">
{sessionvars%hiddenformentry}
<p><input name="rev" id="search1" type="text" size="30" /></p>
<div id="hint">{searchhint}</div>
</form>

<table class="bigtable">
<tr>
 <th>branch</th>
 <th>node</th>
</tr>
<tbody class="stripes2">
{entries % branchentry}
</tbody>
</table>
 
{footer}
