{header}
<title>{repo|escape}: error</title>
</head>
<body>
{bodyheader}
{menuoverview}
{bodyheader2}


<h2 class="breadcrumb"><a href="/">Mercurial</a> {pathdef%breadcrumb}</h2>
<h3>error</h3>

<form class="search" action="{url|urlescape}log">
{sessionvars%hiddenformentry}
<p><input name="rev" id="search1" type="text" size="30"></p>
<div id="hint">{searchhint}</div>
</form>

<div class="description">
<p>
An error occurred while processing your request:
</p>
<p>
{error|escape}
</p>
</div>

{footer}
