{header}
<title>{repo|escape}: {file|escape} comparison</title>
</head>
<body>
{bodyheader}
{menufile}
{menuchangeset}
{menuoverview}
{bodyheader2}

<h2 class="breadcrumb"><a href="/">Mercurial</a> {pathdef%breadcrumb}</h2>
<h3>comparison {file|escape} @ {rev}:{node|short}</h3>

<form class="search" action="{url|urlescape}log">
<p>{sessionvars%hiddenformentry}</p>
<p><input name="rev" id="search1" type="text" size="30" /></p>
<div id="hint">{searchhint}</div>
</form>

<div class="description">{desc|strip|escape|websub|nonempty}</div>

<table id="changesetEntry">
<tr>
 <th>author</th>
 <td>{author|obfuscate}</td>
</tr>
<tr>
 <th>date</th>
 <td class="date age">{date|rfc822date}</td>
</tr>
<tr>
 <th>parents</th>
 <td>{parent%filerevparent}</td>
</tr>
<tr>
 <th>children</th>
 <td>{child%filerevchild}</td>
</tr>
</table>

<div class="overflow">
<div class="sourcefirst">   comparison</div>
<div class="legend">
  <span class="legendinfo equal">equal</span>
  <span class="legendinfo delete">deleted</span>
  <span class="legendinfo insert">inserted</span>
  <span class="legendinfo replace">replaced</span>
</div>

<table class="bigtable">
  <thead class="header">
    <tr>
      <th>{leftrev}:{leftnode|short}</th>
      <th>{rightrev}:{rightnode|short}</th>
    </tr>
  </thead>
  {comparison}
</table>

</div>

{footer}
