{header}
<title>{repo|escape}: {file|escape} diff</title>
</head>
<body>
{bodyheader}
{menufile}
{menuchangeset}
{menuoverview}
{bodyheader2}

<h2 class="breadcrumb"><a href="/">Mercurial</a> {pathdef%breadcrumb}</h2>
<h3>diff {file|escape} @ {rev}:{node|short}</h3>

<form class="search" action="{url|urlescape}log">
<p>{sessionvars%hiddenformentry}</p>
<p><input name="rev" id="search1" type="text" size="30" /></p>
<div id="hint">{searchhint}</div>
</form>

<div class="description">{desc|strip|escape|websub|nonempty}</div>

<table id="changesetEntry">
<tr>
 <th>author</th>
 <td>{author|obfuscate}</td>
</tr>
<tr>
 <th>date</th>
 <td class="date age">{date|rfc822date}</td>
</tr>
<tr>
 <th>parents</th>
 <td>{parent%filerevparent}</td>
</tr>
<tr>
 <th>children</th>
 <td>{child%filerevchild}</td>
</tr>
</table>

<div class="overflow">
<div class="sourcefirst linewraptoggle">line wrap: <a class="linewraplink" href="javascript:toggleLinewrap()">on</a></div>
<div class="sourcefirst"> line diff</div>
<div class="stripes2 diffblocks">
{diff}
</div>
</div>

{footer}
