      
      <script type="text/javascript">process_dates()</script>
      {motd}
      <div style="height: 60em" id="heightplaceholder">&nbsp;</div>
      
        </div>
      </div>	


      
    <div id="border_right">&nbsp;</div>
	  <div id="header">
	    <img src="{staticurl|urlescape}img/design/borderbluedown.gif" id="border_right_down_img" alt="">
	    <div id="header_left_background">
	      <div id="border_title_top">&nbsp;</div>
	    </div>
	  </div>
    <div id="border_navi_top"></div>
    <div id="border_middle"><img src="{staticurl|urlescape}img/design/borderbluemiddleleft.gif" id="border_middle_left_img" alt=""></div>
    <div id="border_left"></div>
	  <div id="footer">
       <div id="border_middle_up_div"></div>
	  </div>
	  <div id="footer_clip">&nbsp;</div>
	  <p><img src="{staticurl|urlescape}img/design/borderbluemiddle_up.gif" id="border_middle_up_img" alt="">
	     <img src="{staticurl|urlescape}img/design/borderbluedown_left.gif" id="border_right_left_img" alt="">
	     <img src="{staticurl|urlescape}img/design/borderblueup_right.gif" id="border_left_up_right" alt=""></p>
    <!--[if IE 7]></div><![endif]--> </body>
</html>
 