{header}
<title>Help: {title}</title>
</head>
<body>
{bodyheader}
{menuoverview}
{bodyheader2}

<h2 class="breadcrumb"><a href="/">Mercurial</a> {pathdef%breadcrumb}</h2>
<form class="search" action="{url|urlescape}log">
{sessionvars%hiddenformentry}
<p><input name="rev" id="search1" type="text" size="30" /></p>
<div id="hint">{searchhint}</div>
</form>
<table class="bigtable">
<tr><td colspan="2"><h2><a name="main" href="#topics">Topics</a></h2></td></tr>
{topics % helpentry}

<tr><td colspan="2"><h2><a name="main" href="#main">Main Commands</a></h2></td></tr>
{earlycommands % helpentry}

<tr><td colspan="2"><h2><a name="other" href="#other">Other Commands</a></h2></td></tr>
{othercommands % helpentry}
</table>

{footer}
