{header}
<title>{repo|escape}: searching for {query|escape}</title>
</head>
<body>
{bodyheader}
{menuoverview}
{bodyheader2}

<h2 class="breadcrumb"><a href="/">Mercurial</a> {pathdef%breadcrumb}</h2>
<h3>searching for '{query|escape}'</h3>

<p>
Assuming {modedesc}.
{if(showforcekw, '<a href="{url|urlescape}log?rev={query|urlescape}&forcekw=1">
Use {showforcekw}</a> instead.')}
{if(showunforcekw, '<a href="{url|urlescape}log?rev={query|urlescape}">
Use {showunforcekw}</a> instead.')}
</p>

<form class="search" action="{url|urlescape}log">
{sessionvars%hiddenformentry}
<p><input name="rev" id="search1" type="text" size="30" value="{query|escape}"></p>
<div id="hint">{searchhint}</div>
</form>

<div class="navigate">
<a href="{url|urlescape}search/{lessvars%urlparameter}">less</a>
<a href="{url|urlescape}search/{morevars%urlparameter}">more</a>
</div>

<table class="bigtable">
 <tr>
  <th class="age">age</th>
  <th class="author">author</th>
  <th class="description">description</th>
 </tr>
<tbody class="stripes2">
{entries}
</tbody>
</table>

<div class="navigate">
<a href="{url|urlescape}search/{lessvars%urlparameter}">less</a>
<a href="{url|urlescape}search/{morevars%urlparameter}">more</a>
</div>

{footer}
