{header}
<title>{repo|escape}: summary</title>
<link rel="alternate" type="application/atom+xml"
   href="{url|urlescape}atom-log" title="Atom feed for {repo|escape}" />
<link rel="alternate" type="application/rss+xml"
   href="{url|urlescape}rss-log" title="RSS feed for {repo|escape}" />
<style>
{'#readme { border: 1px solid blue; padding: 1em;}
#readme h1 { margin-bottom: 0.3em }
#readme h2 { margin-top: 2em; margin-bottom: 0.3em }
#readme p { margin-bottom: 0.5em }
'}

</style>
</head>
<body>
{bodyheader}
{commonmenu}
{bodyheader2}




<h2 class="breadcrumb"><a href="/">Mercurial</a> {pathdef%breadcrumb}</h2>
<h3>Summary</h3>

{readmefilename}: 

<div id="readme">
	<article>{readme}</article>
</div>

<form class="search" action="{url|urlescape}log">
{sessionvars%hiddenformentry}
<p><input name="rev" id="search1" type="text" size="30" value="{query|escape}" /></p>
<div id="hint">{searchhint}</div>
</form>

<br><br>

<h3>How to clone</h3>

<div style="border: 1px solid blue; padding: 1em;">
You can clone this repository with
<pre><code>hg clone http://hg.benibela.de{url|escape}</code></pre>
</div>

<br><br>

<h3>directory / @ {rev}:{node|short} {tags%changelogtag}</h3>

<table class="bigtable">
<tr>
  <th class="name">name</th>
  <th class="size">size</th>
  <th class="permissions">permissions</th>
</tr>
<tbody class="stripes2">
<tr class="fileline">
  <td class="name"><a href="{url|urlescape}file/{node|short}{up|urlescape}{sessionvars%urlparameter}">[up]</a></td>
  <td class="size"></td>
  <td class="permissions">drwxr-xr-x</td>
</tr>
{dentries%direntry}
{fentries%fileentry}
</tbody>
</table>

{footer}
