body {
   position: static;
/*   padding-top: 5em solid red;
   border-bottom: 2em solid red;*/
   padding-top: 5em;
   padding-bottom: 2em;
}

#outer_content { 
  position:relative;
  left:-14px;
  top:0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding-top:0;
  padding-bottom:0;
  overflow: auto;
  overflow-x: hidden;
}


#content {
  padding-right:0.5em;
  margin-left: 14em;
  padding-left: 1em;
/*  border-left: 14px solid #DDDDDD;*/
  border-left: 4px solid #DDDDDD;

  background-image: url(../img/design/borderblueV.gif);
  background-position: 4px 0px;
  background-repeat: repeat-y;
}

/* fix top-bottom position error*/
#border_right { 
   position: relative;
   top: 0px;
   height: 100%;
   z-index: 1; /* under header */
}

#border_middle {  
  height: 50%;
}

/* fix wrong size of li items */
#menulink_list li{
  width: 11em;
}

#menulink_list li a{
  width: 13.7em;
}



#border_navi_bottom {
  /* fix gap */
  width: 11.7em;
  /* border make to large menu invisible */
  border-right: 5px solid #DDDDDD; 
  border-bottom: 5px solid #DDDDDD;
  /* fix invisible background-image, compensation border*/
  height:13px;
  /* fix to small menu  */
  margin-bottom: -1em; 
  /* exact position at the bottom */
  padding-bottom: 1px; 
  /* compensate padding */
  background-position: 0 1px;
}

/* fix moved image */
#border_navi_right_bottom {
  left: 11em;
  margin-left:3px;
}


	
/* fix to large shortdescription table (disable ie 7 patch) */
.shortdescription_border{
  width: 100%;
  border: 0 0 0 0;
}
.shortdescription  {
  width: 100%;
}

.untranslated .newstext{ display: block;}

#menu {
  padding-right:9px;
}


/*Positionsartwechsel*/
#menu {position: absolute;}
#title{position:absolute;}
#header{position:absolute}
#footer{position: absolute}

#border_navi_bottom {position:absolute;}
#border_navi_top{position: absolute;}
#footer_clip{position: absolute}
#border_right_left_img{position: absolute}
#border_middle_up_img{ position: absolute;}
#border_middle {position: absolute;}
#border_left {position: absolute;}
#border_left_up_right{position: absolute;}
#border_right {position: absolute;}
#border_navi_right_top{position: absolute}
