#outer_content {      
  top:5em;            /* Beginn des Dokumenttextes in nicht IE-Browsern */
  bottom:12px; 
  right: 1em;
  left: 1em;
}

#menu {
  display: none;
  width: 70%;
  max-width: 70%;

  max-height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  background-position: right 16px center;
}
#menu a{
  font-size: 1.5em;
}
#menu:hover {
  display: block;
}
#menulink_list a{
  width: auto;
}
#menulink_list li{
  width: auto;
}
#menulink_list ul.menulink_sublist a{
  display: none
}
#menulink_list .menulink_sublist a{
  width: auto;
}
#menulink_list .menulink_sublist li{
  width: auto;
}
#border_navi_top{
  width: 70%;
/*  padding-right: 4px; not needed with right menu scrollbar*/
  padding-left: 0.6em;
  max-width: 70%;
  display: none;
}
#border_navi_bottom{
  width: auto;
  left: 1px; /* this is one px off, why? */
  padding-right: -10px;
}
#border_navi_left_bottom {
  left: -1px;
}
#border_navi_right_bottom{ 
  left: auto;
  right: -16px;
}
/*#border_navi_right_top{ 
  right: 32px;
}*/
#border_left {
  bottom: 12px;
  height: auto
}	 

#border_middle {
  height: 4em
}	
#border_middle_up_img{ 
  left: 1em
}
#footer_clip{
  width: 1em;
}

.mobile-navigation { 
  display: block;
  position: absolute;
  z-index: 3;   
  top:1.3em;
  left:0.6em;
  width: 9.3em;
  text-align:center;
  text-decoration: underline;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-weight: bolder;
  font-size:1.35em;
}

#title {
  text-decoration: none;
  left: 10em;
}

.uplink { display: block; float: none; text-align: right; margin-top: 0.5em; margin-bottom: 0.5em;  }

.socialbox { display:block; float: none }
.socialboxcenter { margin-right: 0 }
