a:link, a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
	}
#content a:link:after, #content a:visited:after {
   content: " (" attr(href) ") ";
   font-weight: normal;
   font-size: 75%;
}
html,body {
  position: static;
  padding-top:0;
  padding-bottom:0;
  max-height: none;
  height: auto;
  overflow: visible;
}
#wrapper {
  position: static;
  height: auto;
  max-height: none;
}
#outer_content{
  position: static;
  overflow: visible;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  left:0;
  top:0;
  bottom: auto;
  background-color: white;
  height:auto;
  max-height:none;
}
#content{
  position: static;
  overflow: visible;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  left:0;
  top:0;
  background-color: white;
}
#title{
  position: static;
  top: 0;
  left:0em;
  padding: 0 0 0 0;
  background-color: white;
  margin: 0 0 0 0;
}


.untranslated .newstext{ display: block;}

#header{display: none;}
#footer{display: none;}

#menu{display:none;}
#header_left_background {display:none;}

#border_title_top{display:none;}

#border_middle_left_img{display:none;}

#footer_clip{display:none;}
#border_right_left_img{ display:none;}
#border_left_up_right{display:none;}
#border_middle_up_img{ display:none;}
          
#border_right_down_img{ display:none;}
                
#border_middle {display:none;}

#border_right {display:none;}
            
#border_left{display:none;}
                        
#border_navi_bottom{display:none;}

#border_navi_top{display:none;}
#border_navi_left_bottom{display:none;}
#border_navi_right_bottom{display:none;}

#border_navi_right_top{display:none;}
